<app-menu></app-menu>
<div *ngIf="quiz">

  <div class="principal" *ngIf="quiz && quiz.perguntas">
    <div class="pergunta">
      <p>{{ quiz.perguntas[perguntaAtual].texto }}</p>
    </div>
    <br>
    <div class="respostas" style="display: flex; flex-direction: column; align-items: center;">
      <div class="field-checkbox" *ngFor="let resposta of respostas" style="display: flex; align-items: center;">
        <p-radioButton [inputId]="resposta" name="resposta" [(ngModel)]="respostaSelecionada" [value]="resposta">
        </p-radioButton>
        <label [for]="resposta" class="ml-2">{{ resposta }}</label>
      </div>
    </div>
    <br>
    <br>
    <button class="botao-verificar" pButton (click)="verificarResposta()" label="Confirmar"></button>
  </div>
</div>