<app-menu></app-menu>
<h2>Sobre nós!</h2>
<p>Conheça os estudantes de Web Development responsáveis pelo site.</p>
<br>
<br>

<div class="creator-card">
  <div class="creator-image">
    <img src="../assets/images/membros/alessandro.png" alt="Alessandro Nunes">
  </div>
  <div class="creator-details">
    <h2>Alessandro Nunes</h2>
    <p>26 anos</p>
    <p>Responsável pela criação da API e do banco de dados.</p>
    <p><i class="pi pi-github"></i><a href="https://github.com/AlessandroNunes10">GitHub</a></p>
  </div>
</div>

<div class="creator-card">
  <div class="creator-image">
    <img src="https://avatars.githubusercontent.com/u/110258437?v=4" alt="Guilherme Cadete" />
  </div>
  <div class="creator-details">
    <h2>Guilherme Cadete</h2>
    <p>19 anos</p>
    <p>Responsável pela criação e implementação do visual, e da dockerização da aplicação.</p>
    <p><i class="pi pi-github"></i><a href="https://github.com/kadetete">GitHub</a></p>
  </div>
</div>

<div class="creator-card">
  <div class="creator-image">
    <img src="https://avatars.githubusercontent.com/u/114671081?s=96&v=4" alt="Rafael Augusto" />
  </div>
  <div class="creator-details">
    <h2>Rafael Augusto</h2>
    <p>19 anos</p>
    <p>Responsável pela criação da API e do banco de dados.</p>
    <p><i class="pi pi-github"></i><a href="https://github.com/Rafael-Augusto-SS">GitHub</a></p>
  </div>
</div>

<div class="creator-card">
  <div class="creator-image">
    <img src="../assets/images/membros/samuel.jpg" alt="Samuel Lucas" />
  </div>
  <div class="creator-details">
    <h2>Samuel Lucas</h2>
    <p>24 anos</p>
    <p>Responsável pela documentação.</p>
    <p><i class="pi pi-github"></i><a href="https://github.com/itsamlucas">Github</a></p>
  </div>
</div>